<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-3.0.xsd">


    <bean id="baseRmiService" class="com.frame.service.impl.BaseServiceImpl"></bean>

    <bean id="baseServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <!-- 调用Service -->
        <property name="service" ref="baseRmiService"/>
        <!-- value值是给用户调用 -->
        <property name="serviceName" value="baseService"/>
        <!-- service 接口 -->
        <property name="serviceInterface" value="com.frame.service.BaseService"/>
        <!-- 注册端口号 -->
        <property name="registryPort" value="1200"/>
        <!-- 不指定就随机了 -->
        <property name="servicePort" value="1200"/>
    </bean>

    <bean id="adminService" class="com.frame.service.impl.AdminServiceImpl"></bean>

    <bean id="adminServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <!-- 调用Service -->
        <property name="service" ref="adminService"/>
        <!-- value值是给用户调用 -->
        <property name="serviceName" value="adminService"/>
        <!-- service 接口 -->
        <property name="serviceInterface" value="com.frame.service.AdminService"/>
        <!-- 注册端口号 -->
        <property name="registryPort" value="1200"/>
        <!-- 不指定就随机了 -->
        <property name="servicePort" value="1200"/>
    </bean>
</beans>